<section>
    <li class="top first">
        <div class="icon rss">
            <a href="/rss" target="_blank">Atom feed</a>
        </div>
    </li>
    <li class="top">
        <div class="icon twitter">
            <a href="https://twitter.com/bitrise" target="_blank">Twitter</a>
        </div>
    </li>
    <li class="top">
        <div class="icon github">
            <a href="https://github.com/bitrise-io" target="_blank">Github</a>
        </div>
    </li>
    <li class="top">
        <div class="icon bitrise">
            <a href="https://bitrise.io" target="_blank">Bitrise.io</a>
        </div>
    </li>
    <li class="top last">
        <div class="icon updates">
            <a href="http://blog.bitrise.io/" target="_blank">Bitrise News</a>
        </div>
    </li>
</section>
