<section class="subscribe">
    <h4>Sign up to our newsletter!</h4>
    <p>Weekly content about the technical challenges we face during the development of Bitrise </p>
    <form action="//bitrise.us1.list-manage.com/subscribe/post?u=10475802f9491c548b775cdc9&amp;id=3fc072fa24" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email"></input>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_10475802f9491c548b775cdc9_3fc072fa24" tabindex="-1" value=""></div>
      <button type="submit" value="Subscribe" name="subscribe" id="subscribe">Subscribe</button>
      <div id="mce-responses" class="subscribe-response">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </form>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</section>
